#formBox {
    width: 80%;
    height: 80%;
    border: 2px solid blue;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
}
#add {
    position: absolute;
    left: 40%;
}

#backButton {
    position: absolute;
    right: 40%;
}